.header {
    &.header-pro {
        .menu-logo {
            .pro-title-logo-mobile {
                @extend .Roboto-light !optional;
                font-size: pxtoem(19, 34);
                vertical-align: top;
                line-height: 16px
            }

        }
        .pro-title-logo-desktop {
            position: absolute;
            left: -99999em;
        }

        .hncl-list {
            .block-stuff {
                text-transform: initial;
            }
            .block-item {
                .item-desc {
                    color: inherit;
                }
            }
        }

        //cacher en mobile pas en desktop
        @include mq($until: desktop) {
            .sous-menu-item {
                .block-item li {
                    .icon-item {
                        display: none;
                    }
                }
            }
        }

        @include mq($from: from-desktop) {

            .menu-big-line {
                text-align: right;
                width: calc(100% - 352px);
                .menu-main {
                    position: absolute;
                    bottom: -51px;
                    height: 51px;
                    left: 0;
                    background: $color-black;
                    width: 100%;
                    color: $color-white;
                    text-align: center;
                    z-index: 1;

                    &:after,
                    &:before {
                        content: '';
                        background: $color-black;
                        height: 51px;
                        width: 100%;
                        position: fixed;
                    }
                    &:before {
                        margin-left: -100%;
                    }
                    .menu-item {
                        &.active {
                            .menu-item-link {
                                &:after {
                                    bottom: -2px;
                                }
                            }
                        }
                    }
                }
            }
            .pro-title-logo-mobile {
                position: absolute;
                left: -99999em;
            }
            .pro-title-logo-desktop {
                position: static;
                @extend .Roboto-light !optional;
                font-weight: 300;
                font-size: pxtoem(30);
                vertical-align: top;
                line-height: 70px;
            }

            .header-navigation-content {
                @include mq($from: from-desktop) {
                    top: 130px;
                }
            }
            .search-line {
                @include mq($from: from-desktop) {
                    top: 51px;
                }
            }

            //modules a deux blocks
            .project-stuff {
                &.choices > .block-stuff {
                    width: calc((100% / 2) - (1em - 1em / 3));
                    float: left;
                    text-align: center;
                }
            }

            //modules a trois blocks
            .sous-menu-item {
                display: table;
                width: 100%;
            }
            .sous-menu-item > .block-item {
                width: 33.3%;
                display: table-cell;
                text-align: left;
                position: relative;
            }

            .sous-menu-item > .block-item:nth-child(3n+2) {
                padding: 0 1em;
            }

            .sous-menu-item {
                .block-item {
                    // module a un bloc full
                    &.choices-full {
                        .block-stuff {
                            margin-top: inherit;
                            transform: translate(0px, -50%);
                            width: 100%;
                        }
                    }

                    li {
                        border-top: 1px solid $color-border-block;
                        padding: 10px 0;
                        color: $color-black;
                        font-size: pxtoem(17, 11);
                        min-height: 70px;
                        line-height: 49px;
                        position: relative;
                        margin-left: 0;
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 1;
                        }
                        &:last-child {
                            border-bottom: 1px solid $color-border-block;
                            padding-bottom: 10px;
                        }
                        .icon-item {
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            margin-top: -12px;
                            opacity: 0;
                            transition: all 0.5s cubic-bezier(.19, 1, .22, 1);

                        }
                        &:hover {
                            color: $color-legrand;
                            .icon-item {
                                opacity: 1;
                                right: 5px;
                            }
                        }
                    }
                }
                .block-stuff {
                    margin: 0;
                    text-align: center;
                    height: 160px;
                    padding: 45px;
                    position: absolute;
                    top: 0;
                    &:last-child {
                        top: inherit;
                        bottom: 0;
                    }

                    span {
                        display: block;
                    }
                    .icon-item {
                        margin: 0;
                    }
                    span {
                        text-align: center;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

//contenu du sous menu
@include mq($from: from-desktop) {
    //modules a trois blocks
    .sous-menu-item {
        display: table;
        width: 100%;
    }

    .sous-menu-item > .block-item:nth-child(3n+2) {
        padding: 0 1em;
    }

    .sous-menu-item {
        .block-item {
            // module a un bloc full
            &.choices-full {
                background: white;
                position: relative;
                padding: 0;
                .block-stuff {
                    position: absolute;
                    top: 50%;
                    margin-top: -90px;
                    display: block;
                    vertical-align: middle;
                    height: auto;
                }
            }
            li {
                border-top: 1px solid $color-border-block;
                padding: 10px 0;
                color: $color-black;
                font-size: pxtoem(17, 11);
                min-height: 70px;
                line-height: 49px;
                position: relative;
                margin-left: 0;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1;
                }
                &:last-child {
                    border-bottom: 1px solid $color-border-block;
                    padding-bottom: 10px;
                }
                .icon-item {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    margin-top: -12px;
                    opacity: 0;
                    transition: all 0.5s cubic-bezier(.19, 1, .22, 1);

                }
                &:hover {
                    color: $color-legrand;
                    .icon-item {
                        opacity: 1;
                        right: 5px;
                    }
                }
            }
        }
    }

}