.main-container {
    width: 90%;
    margin: auto;
    max-width: 1280px;
}
.credits {
    padding: 40px 10px;
    font-style: italic;
    font-size: 13px;
    text-align: right;

    a {
        color: $color-orange;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}