.localisation {

    &.search-bar {
        width: auto;
    }
    @include mq($until: desktop) {
        height: calc(100vh - 129px);
        overflow: auto;
        &.active {
            top: 85px;
        }
    }

    .locate-me {
        width: 130px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        a {
            display: block;
            //padding: 25px 0;
        }
        span {
            display: block;
        }
        .icon-target {
            position: relative;
            top: inherit;
            left: inherit;
            font-size: 18px;
            padding-bottom: 5px;
            &:after {
                content: '';
                border: none;
                margin-left: 0;
            }
        }
    }

    .search-locate,
    .locate-input {
        display: inline-block;
        outline: 0;
    }
    .search-locate {
        margin-bottom: 0;
        position: static;
        vertical-align: middle;
        width: calc(100% - 136px);
        text-align: left;
        border-left: 1px solid $color-legrand;
        .btn-locate {
            vertical-align: middle;
            margin-top: -10px;
        }

    }
    .locate-input {
        border: none;
        height: 100%;
        width: 100%;
        padding-left: 25px;
        background: #F3F2F1;
    }
}

[data-toggler-id="locate"],
[data-toggler-id="whishlist"] {
    .thin {
        position: absolute;
    }
    .full {
        visibility: hidden;
    }

    &.active, &.wishlist-not-empty {
        .full {
            visibility: visible;
        }
        .thin {
            visibility: hidden;
        }
    }
}

[data-toggler-id="whishlist"] {
    &:before {
        content: '';
        box-shadow: inset rgba(0, 0, 0, 0.4) 0 0 0 0;
        transition: box-shadow 300ms ease-in;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: 2px;
        pointer-events: none;
    }
    &.wishlist-not-empty {
        &:before {
            transition: box-shadow 575ms ease-out;
            box-shadow: inset rgba(0, 0, 0, 0) 0 0 8px 10px;
        }
    }
}

